a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
#menu_5d6f4aff a { text-decoration: none; }
#menu_5d6f4aff_pane { background-color: #2C2825; border: 1px solid #646464; padding-top: 10px; padding-bottom: 10px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_5d6f4aff_hr { background-color: #646464; height: 1px; border: none; }
#menu_5d6f4aff_entry { padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px; }
#menu_5d6f4aff_entry:hover { background-color: #323232; color: #FFFFFF !important; }
#menu_5d6f4aff_entry:hover span { color:#FFFFFF !important; }
		.menu_5d6f4aff_mainMenuEntry { text-align: center; }
		.menu_5d6f4aff_mainMenuEntry:hover {	background-color:#FFFFFF; }
		.menu_5d6f4aff_mainMenuEntry:hover span {	color:#FF0000 !important; }
		#menu_5d6f4aff .mobileEntry { display: none; } 
		#menu_5d6f4aff .normalEntry { display: block; } 
		@media only screen and (max-width:450px) { 
			#menu_5d6f4aff .mobileEntry { display: block; } 
			#menu_5d6f4aff .normalEntry { display: none; } 
		}
body { background-color:#FFFFFF; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
#container_2babed2f { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:100%; min-height:40px; background-color:#FFFFFF; border: 1px solid #FFFFFF; position: fixed; z-index:3000; }
#container_2babed2f_padding { margin: 1px; display: block;  }
.textstyle2 { text-align:left; }
#img_3c75d22f { vertical-align: bottom; position:relative; display: inline-block; width:3%; background:none; height:auto;  }
.textstyle3 { font-size:22pt; font-family:Arial, Helvetica, sans-serif; color:#DC9614; font-weight:bold; text-shadow: 2px 2px 2px #000000;  }
.textstyle4 { font-size:18pt; font-family:Arial, Helvetica, sans-serif; color:#555256; font-weight:bold; text-shadow: 2px 2px 2px #000000;  }
.textstyle5 { font-size:18pt; font-family:Arial, Helvetica, sans-serif; color:#000000; font-weight:bold;  }
.textstyle6 { font-size:16pt; font-family:'Lucida Console', Monaco, monospace; color:#5C585D; font-weight:bold;  }
#menu_5d6f4aff { vertical-align: bottom; position:relative; display: inline-block; width:659px; height:38px; max-width:800px; text-align:left; background:none;  }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.style1 { position:absolute; width:100px; height:38px; left:10px;  }
.style2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:18px;  }
.textstyle7 { font-size:10pt; font-family:Arial, Helvetica, sans-serif; color:#FA7832;  white-space: nowrap; }
.textstyle8 { font-size:10pt; font-family:'Palatino Linotype', 'Book Antiqua3', Palatino, serif; color:#FFFFFF; font-weight:bold;  white-space: nowrap; }
.style3 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:17px;  }
.textstyle9 { font-size:11pt; font-family:Arial, Helvetica, sans-serif; color:#DC9614; font-weight:bold;  white-space: nowrap; }
.style4 { position:absolute; width:114px; height:38px; left:110px;  }
.style5 { position:absolute; width:102px; height:38px; left:224px;  }
.style6 { position:absolute; width:118px; height:38px; left:326px;  }
.style7 { position:absolute; width:130px; height:38px; left:444px;  }
.style8 { position:absolute; width:100px; height:38px; left:574px;  }
.style9 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:0px;  }
.textstyle10 { font-size:15pt; font-family:Arial, Helvetica, sans-serif; color:#FA7832;  white-space: nowrap; }
#container_19da6ef5 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:386px; background-color:#4A494A;  }
#container_19da6ef5_padding { margin: 10px; display: block;  }
#container_74cc30ce { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:34px; background:none;  }
#container_74cc30ce_padding { margin: 10px; display: block;  }
#container_3b1b42fa { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:328px; background:none;  }
#container_3b1b42fa_padding { margin: 10px; display: block;  }
.textstyle11 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_67883280 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:282px; background:none;  }
#container_67883280_padding { margin: 10px; display: block;  }
#container_43dea141 { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:225px; background:none;  }
#container_43dea141_padding { margin: 10px; display: block;  }
#img_526a9cdd { vertical-align: bottom; position:relative; display: inline-block; width:63%; background:none; height:auto;  }
.textstyle12 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
#container_6fe91bc7 { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:225px; background:none;  }
#container_6fe91bc7_padding { margin: 10px; display: block;  }
#img_27649c22 { vertical-align: bottom; position:relative; display: inline-block; width:63%; background:none; height:auto;  }
#container_7a349e57 { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:225px; background:none;  }
#container_7a349e57_padding { margin: 10px; display: block;  }
#img_700ae342 { vertical-align: bottom; position:relative; display: inline-block; width:63%; background:none; height:auto;  }
#container_6a8f83d3 { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:45px; background:none;  }
#container_6a8f83d3_padding { margin: 10px; display: block;  }
#container_50fe4c2d { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:45px; background:none;  }
#container_50fe4c2d_padding { margin: 10px; display: block;  }
#container_4cea8074 { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:45px; background:none;  }
#container_4cea8074_padding { margin: 10px; display: block;  }
#container_7546577e { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:128px; background:none;  }
#container_7546577e_padding { margin: 10px; display: block;  }
#container_1c1a24f4 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:67px; background:none;  }
#container_6bdbc14d { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:60px; background:none;  }
#container_6bdbc14d_padding { margin: 5px; display: block;  }
#img_77363bda { vertical-align: bottom; position:relative; display: inline-block; width:9%; background:none; height:auto;  }
.textstyle13 { font-size:10pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_6d291f31 { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:60px; background:none;  }
#container_6d291f31_padding { margin: 5px; display: block;  }
#img_3a05ea72 { vertical-align: bottom; position:relative; display: inline-block; width:10%; background:none; height:auto;  }
#container_2424bc03 { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:60px; background:none;  }
#container_2424bc03_padding { margin: 5px; display: block;  }
#img_465fee16 { vertical-align: bottom; position:relative; display: inline-block; width:26%; background:none; height:auto;  }
@media only screen and (max-width: 450px)
{
		#menu_5d6f4aff { width:100px;  }
		#container_6bdbc14d { width:100%;  }
		#container_6d291f31 { width:100%;  }
		#container_2424bc03 { width:100%;  }
}
@media only screen and (max-width: 300px)
{
		#container_43dea141 { width:100%;  }
		#container_6fe91bc7 { width:100%;  }
		#container_7a349e57 { width:100%;  }
}
