a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
#menu_3ac38fd0 a { text-decoration: none; }
#menu_3ac38fd0_pane { background-color: #2C2825; border: 1px solid #646464; padding-top: 10px; padding-bottom: 10px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_3ac38fd0_hr { background-color: #646464; height: 1px; border: none; }
#menu_3ac38fd0_entry { padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px; }
#menu_3ac38fd0_entry:hover { background-color: #323232; color: #FFFFFF !important; }
#menu_3ac38fd0_entry:hover span { color:#FFFFFF !important; }
		.menu_3ac38fd0_mainMenuEntry { text-align: center; }
		.menu_3ac38fd0_mainMenuEntry:hover {	background-color:#FFFFFF; }
		.menu_3ac38fd0_mainMenuEntry:hover span {	color:#FF0000 !important; }
		#menu_3ac38fd0 .mobileEntry { display: none; } 
		#menu_3ac38fd0 .normalEntry { display: block; } 
		@media only screen and (max-width:450px) { 
			#menu_3ac38fd0 .mobileEntry { display: block; } 
			#menu_3ac38fd0 .normalEntry { display: none; } 
		}
body { background-color:#FFFFFF; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
#container_5ad1743c { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:100%; min-height:40px; background-color:#FFFFFF; border: 1px solid #FFFFFF; position: fixed; z-index:3000; }
#container_5ad1743c_padding { margin: 1px; display: block;  }
.textstyle2 { text-align:left; }
#img_55cd82bf { vertical-align: bottom; position:relative; display: inline-block; width:3%; background:none; height:auto;  }
.textstyle3 { font-size:22pt; font-family:Arial, Helvetica, sans-serif; color:#DC9614; font-weight:bold; text-shadow: 2px 2px 2px #000000;  }
.textstyle4 { font-size:18pt; font-family:Arial, Helvetica, sans-serif; color:#555256; font-weight:bold; text-shadow: 2px 2px 2px #000000;  }
.textstyle5 { font-size:18pt; font-family:Arial, Helvetica, sans-serif; color:#000000; font-weight:bold;  }
.textstyle6 { font-size:16pt; font-family:'Lucida Console', Monaco, monospace; color:#5C585D; font-weight:bold;  }
#menu_3ac38fd0 { vertical-align: bottom; position:relative; display: inline-block; width:659px; height:38px; max-width:800px; text-align:left; background:none;  }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.menustyle1 { position:absolute; width:100px; height:38px; left:10px;  }
.menuentry_text1 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:18px;  }
.textstyle7 { font-size:10pt; font-family:Arial, Helvetica, sans-serif; color:#FA7832;  white-space: nowrap; }
.textstyle8 { font-size:10pt; font-family:'Palatino Linotype', 'Book Antiqua3', Palatino, serif; color:#FFFFFF; font-weight:bold;  white-space: nowrap; }
.menuentry_text2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:17px;  }
.textstyle9 { font-size:11pt; font-family:Arial, Helvetica, sans-serif; color:#DC9614; font-weight:bold;  white-space: nowrap; }
.menustyle2 { position:absolute; width:114px; height:38px; left:110px;  }
.menustyle3 { position:absolute; width:102px; height:38px; left:224px;  }
.menustyle4 { position:absolute; width:118px; height:38px; left:326px;  }
.menustyle5 { position:absolute; width:130px; height:38px; left:444px;  }
.menustyle6 { position:absolute; width:100px; height:38px; left:574px;  }
.menuentry_text3 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:0px;  }
.textstyle10 { font-size:15pt; font-family:Arial, Helvetica, sans-serif; color:#FA7832;  white-space: nowrap; }
#container_12077a6 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:272px; background-color:#4A494A;  }
#container_12077a6_padding { margin: 10px; display: block;  }
#container_1ccbda6e { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:66px; background:none;  }
#container_1ccbda6e_padding { margin: 10px; display: block;  }
#container_433edc8a { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:171px; background:none;  }
#container_433edc8a_padding { margin: 10px; display: block;  }
#container_d018dcd { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background-color:#EAE9EA;  }
#container_d018dcd_padding { margin: 10px; display: block;  }
.textstyle11 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#img_49cb463c { vertical-align: bottom; position:relative; display: inline-block; width:11%; background:none; height:auto;  }
#container_78abf229 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:268px; background:none;  }
#container_78abf229_padding { margin: 10px; display: block;  }
#container_1e24092a { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:110px; background:none;  }
#container_3daaba07 { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:60px; background:none;  }
#container_3daaba07_padding { margin: 5px; display: block;  }
#img_a8bef60 { vertical-align: bottom; position:relative; display: inline-block; width:9%; background:none; height:auto;  }
.textstyle12 { font-size:10pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_6779c72 { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:60px; background:none;  }
#container_6779c72_padding { margin: 5px; display: block;  }
#img_1f3203a9 { vertical-align: bottom; position:relative; display: inline-block; width:10%; background:none; height:auto;  }
#container_6d46eefc { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:60px; background:none;  }
#container_6d46eefc_padding { margin: 5px; display: block;  }
#img_7c89f87c { vertical-align: bottom; position:relative; display: inline-block; width:26%; background:none; height:auto;  }
@media only screen and (max-width: 450px)
{
		#menu_3ac38fd0 { width:100px;  }
		#container_3daaba07 { width:100%;  }
		#container_6779c72 { width:100%;  }
		#container_6d46eefc { width:100%;  }
}
