a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
#menu_9038ba a { text-decoration: none; }
#menu_9038ba_pane { background-color: #2C2825; border: 1px solid #646464; padding-top: 10px; padding-bottom: 10px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_9038ba_hr { background-color: #646464; height: 1px; border: none; }
#menu_9038ba_entry { padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px; }
#menu_9038ba_entry:hover { background-color: #323232; color: #FFFFFF !important; }
#menu_9038ba_entry:hover span { color:#FFFFFF !important; }
		.menu_9038ba_mainMenuEntry { text-align: center; }
		.menu_9038ba_mainMenuEntry:hover {	background-color:#FFFFFF; }
		.menu_9038ba_mainMenuEntry:hover span {	color:#FF0000 !important; }
		#menu_9038ba .mobileEntry { display: none; } 
		#menu_9038ba .normalEntry { display: block; } 
		@media only screen and (max-width:450px) { 
			#menu_9038ba .mobileEntry { display: block; } 
			#menu_9038ba .normalEntry { display: none; } 
		}
body { background-color:#FFFFFF; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
#container_23932c22 { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:100%; min-height:40px; background-color:#FFFFFF; border: 1px solid #FFFFFF; position: fixed; z-index:3000; }
#container_23932c22_padding { margin: 1px; display: block;  }
.textstyle2 { text-align:left; }
#img_78d6203e { vertical-align: bottom; position:relative; display: inline-block; width:3%; background:none; height:auto;  }
.textstyle3 { font-size:22pt; font-family:Arial, Helvetica, sans-serif; color:#DC9614; font-weight:bold; text-shadow: 2px 2px 2px #000000;  }
.textstyle4 { font-size:18pt; font-family:Arial, Helvetica, sans-serif; color:#555256; font-weight:bold; text-shadow: 2px 2px 2px #000000;  }
.textstyle5 { font-size:18pt; font-family:Arial, Helvetica, sans-serif; color:#000000; font-weight:bold;  }
.textstyle6 { font-size:16pt; font-family:'Lucida Console', Monaco, monospace; color:#5C585D; font-weight:bold;  }
#menu_9038ba { vertical-align: bottom; position:relative; display: inline-block; width:659px; height:38px; max-width:800px; text-align:left; background:none;  }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.menustyle1 { position:absolute; width:100px; height:38px; left:10px;  }
.menuentry_text1 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:18px;  }
.textstyle7 { font-size:10pt; font-family:Arial, Helvetica, sans-serif; color:#FA7832;  white-space: nowrap; }
.textstyle8 { font-size:10pt; font-family:'Palatino Linotype', 'Book Antiqua3', Palatino, serif; color:#FFFFFF; font-weight:bold;  white-space: nowrap; }
.menuentry_text2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:17px;  }
.textstyle9 { font-size:11pt; font-family:Arial, Helvetica, sans-serif; color:#DC9614; font-weight:bold;  white-space: nowrap; }
.menustyle2 { position:absolute; width:114px; height:38px; left:110px;  }
.menustyle3 { position:absolute; width:102px; height:38px; left:224px;  }
.menustyle4 { position:absolute; width:118px; height:38px; left:326px;  }
.menustyle5 { position:absolute; width:130px; height:38px; left:444px;  }
.menustyle6 { position:absolute; width:100px; height:38px; left:574px;  }
.menuentry_text3 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:0px;  }
.textstyle10 { font-size:15pt; font-family:Arial, Helvetica, sans-serif; color:#FA7832;  white-space: nowrap; }
#container_22e4a421 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:386px; background-color:#4A494A;  }
#container_22e4a421_padding { margin: 5px; display: block;  }
#container_52599920 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:29px; background:none;  }
#container_4a4b29ab { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:350px; background:none;  }
.textstyle11 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_3ae7ee26 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:400px; background:none;  }
#container_4a51962e { vertical-align: top; position:relative; display: inline-block; margin:5px; width:15%; min-height:200px; background:none;  }
#img_1d959c24 { vertical-align: bottom; position:relative; display: inline-block; width:95%; background:none; height:auto;  }
.textstyle12 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
#container_690011d2 { vertical-align: top; position:relative; display: inline-block; margin:5px; width:15%; min-height:200px; background:none;  }
#img_7ae82997 { vertical-align: bottom; position:relative; display: inline-block; width:95%; background:none; height:auto;  }
#container_c798b63 { vertical-align: top; position:relative; display: inline-block; margin:5px; width:15%; min-height:200px; background:none;  }
#img_7d7328db { vertical-align: bottom; position:relative; display: inline-block; width:95%; background:none; height:auto;  }
#container_4cdd36f7 { vertical-align: top; position:relative; display: inline-block; margin:5px; width:15%; min-height:200px; background:none;  }
#img_4864e083 { vertical-align: bottom; position:relative; display: inline-block; width:95%; background:none; height:auto;  }
#container_71037a78 { vertical-align: top; position:relative; display: inline-block; margin:5px; width:15%; min-height:200px; background:none;  }
#img_510d7fec { vertical-align: bottom; position:relative; display: inline-block; width:95%; background:none; height:auto;  }
#container_48458a { vertical-align: top; position:relative; display: inline-block; margin:5px; width:15%; min-height:200px; background:none;  }
#img_524340ed { vertical-align: bottom; position:relative; display: inline-block; width:95%; background:none; height:auto;  }
#container_59cea90f { vertical-align: top; position:relative; display: inline-block; margin:5px; width:15%; min-height:200px; background:none;  }
#img_153d0912 { vertical-align: bottom; position:relative; display: inline-block; width:95%; background:none; height:auto;  }
#container_479e85b6 { vertical-align: top; position:relative; display: inline-block; margin:5px; width:15%; min-height:200px; background:none;  }
#img_698f25ca { vertical-align: bottom; position:relative; display: inline-block; width:95%; background:none; height:auto;  }
#container_ea6bc91 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:50px; background:none;  }
#container_7cc28000 { vertical-align: bottom; position:relative; display: inline-block; width:34%; min-height:45px; background:none;  }
#img_74f8b085 { vertical-align: bottom; position:relative; display: inline-block; width:10%; background:none; height:auto;  }
.textstyle13 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-weight:bold;  }
#container_10377463 { vertical-align: top; position:relative; display: inline-block; width:50%; min-height:45px; background:none;  }
.textstyle14 { text-align:right; }
#img_48ef720e { vertical-align: bottom; position:relative; display: inline-block; width:7%; background:none; height:auto;  }
#container_5b6fb27c { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:67px; background:none;  }
#container_f11ed50 { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:60px; background:none;  }
#container_f11ed50_padding { margin: 5px; display: block;  }
#img_789175cb { vertical-align: bottom; position:relative; display: inline-block; width:9%; background:none; height:auto;  }
.textstyle15 { font-size:10pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_11dc96e6 { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:60px; background:none;  }
#container_11dc96e6_padding { margin: 5px; display: block;  }
#img_69f7d430 { vertical-align: bottom; position:relative; display: inline-block; width:10%; background:none; height:auto;  }
#container_515496bc { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:60px; background:none;  }
#container_515496bc_padding { margin: 5px; display: block;  }
#img_8980bcc { vertical-align: bottom; position:relative; display: inline-block; width:26%; background:none; height:auto;  }
@media only screen and (max-width: 450px)
{
		#menu_9038ba { width:100px;  }
		#container_f11ed50 { width:100%;  }
		#container_11dc96e6 { width:100%;  }
		#container_515496bc { width:100%;  }
}
@media only screen and (max-width: 300px)
{
		#container_4a51962e { width:100%;  }
		#container_690011d2 { width:100%;  }
		#container_c798b63 { width:100%;  }
		#container_4cdd36f7 { width:100%;  }
		#container_71037a78 { width:100%;  }
		#container_48458a { width:100%;  }
		#container_59cea90f { width:100%;  }
		#container_479e85b6 { width:100%;  }
}
